/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    height: 100px;
    text-align: center;
    color: white;
    padding: 20px 0;
    background: linear-gradient(45deg, #007bff, #ff5722, #4caf50, #ffeb3b);
    background-size: 300% 300%; 
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    margin: 0;
}
#inscription {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}

/* Fieldset Styles */
fieldset {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

/* Legend Styles */
legend {
    font-weight: bold;
    color: #007bff;
}

/* Form Styles */
form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 15px; /* Space between inputs */
}

div {
    margin-bottom: 15px;
}

/* Label Styles */
label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold; /* Set label text to bold */
}

/* Input Styles */
input[type="text"],
input[type="date"],
select { /* Add select here */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; 
}

input[type="submit"],
input[type="reset"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    grid-column: span 2; 
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}


input[type="radio"] {
    margin-left: 10px;
}


@media (max-width: 600px) {
    fieldset {
        width: 90%;
    }

    form {
        grid-template-columns: 1fr; 
    }

    input[type="submit"],
    input[type="reset"] {
        grid-column: auto; 
    }
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #0056b3;
    transform: scale(1.05);
}

a:active {
    transform: scale(0.95);
}